<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Google Web Fonts CSS -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<style>
    #ebook_id {
        /* max-width: 266px;
        max-height: 333px; */
        border: solid 1px;
        object-fit: fill;
        /* padding-top: calc(400 / 500 * 100%); */
        /* object-fit: cover; */
    }

    #ebook_snippet {
        /* max-width: 400px;
        max-height: 500px; */
        border: solid 1px;
        object-fit: fill;
    }
</style>